/* Main page style properties */

* {
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  animation-name: background-change;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  background-color: black;
  color: green;
  font-family: 'Handlee', system-ui, verdana, arial, cursive;
  font-size: 12pt;
  height: 100%;
  margin: 1% 1%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1% 1%;
  width: 100%;
}

@keyframes background-change {
  0% {
    background-color: #000;
  }

  25% {
    background-color: #111;
  }

  50% {
    background-color: #222;
  }

  75% {
    background-color: #333;
  }

  100% {
    background-color: #444;
  }
}





/* Header and title styles */

header {
  width: 100%;
  height: 100px;
  padding: 10px;
  background-color: #808080;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  box-shadow: 1px 2px 10px black;
  border-bottom: 2px solid black;
}

#header {
  background-image: url("https://www.sololearn.com/Uploads/header.jpg");
  background-size: cover;
}

#header img {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}

#header p {
  font-size: 25pt;
  color: #3b464c;
  padding-top: 5px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

header .logo {
  font-size: 20px;
  text-transform: uppercase;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header ul li {
  margin-right: 5px;
}

header ul li a {
  padding: 5px 3px;
}

header ul li a:hover,
.active {
  background-color: black;
  color: green;
  border-radius: 8px;
}

#banner_image {
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url("https://images.unsplash.com/photo-1608126199278-50a5f584dbdd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80") no-repeat center;
  background-size: cover;
}

#banner_content {
  position: relative;
  padding-top: 6%;
  padding-bottom: 6%;
  margin-top: 12%;
  margin-bottom: 12%;
  background-color: black;
  max-width: 660px;
}

h1 {
  color: #2ad;
  margin-left: 10px;
  font-size: 15pt;
  font-style: italic;
  text-shadow: 1px 1px 1px green;
  float: center;
  font-family: "Times New Roman", Georgia, Serif;
  text-align: center;
  padding: 18px 0;
  margin: 0 0 10px 0;
}

h1 span {
  border: 1px dashed #2ad;
  padding: 10px;
}

h3 {
  display: inline;
  float: right;
  margin-right: 10px;
}

h3 a {
  border-bottom: 4px solid green;
  font-size: 10pt;
  text-align: center;
}

h4 {
  color: green;
  margin-top: 20%;
  font-size: 14pt;
  font-weight: bold;
}

.avatar-frame {
  animation-name: avatar-frame;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border: 5px solid #999;
  border-left: none;
  border-radius: 100%;
  border-right: none;
  height: 160px;
  margin: 10px 35%;
  width: 160px;
}

@keyframes avatar-frame {
  0% {
    transform: rotate(0deg);
    background-color: #000;
  }

  100% {
    transform: rotate(360deg);
    background-color: #fff;
  }
}





/* Imagen styles */

img {
  width: 150px;
  height: 150px;
  display: flex;
  border: 1px solid white;
  border-radius: 100px;
  margin: -10% 4px;
}

.img-circle {
  border: 3px solid white;
  border-radius: 50%;
}

.thumbnail {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
  padding: 0px 15px;
}





/* Regular text styles */

p {
  font-size: 22px;
  font-family: system-ui;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: 2px solid black;
  text-shadow: 2px 2px 12px black;
  text-align: center;
  margin-top: 380px;
  display: block;
  padding: 0;
  margin: 0;
}

.section {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

section {
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 10px;
  min-height: 250px;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

footer {
  padding: 10px 0;
  background-color: #111;
  border-radius: 10px;
  color: #aaa;
  width: 97%;
  
}

/*

.items {
   width: 30%;
   display: block;
   padding: 4px;
   margin-bottom: 20px;
   line-height: 1.42857143;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 4px;
   float: left;
   margin-left: 1%;
 }

 */

.caption {
  color: #000;
  padding: 0px 10px 10px;
  font-weight: bold;
  text-align: center;
}

.copyright {
  font-size: 10pt;
  text-align: right;
  padding-bottom: 10px;
  color: grey;
}

#contacts {
  text-align: center;
}

.quote {
  font-size: 12pt;
  text-align: right;
  margin-top: 10px;
}



/* Table properties */
table {
  width: 100%;
  font-size: 11pt;
  float: center;
}

hr {
  border: 0;
  height: 1px;
  background: #f36f48;
}

table,
th,
td,
tr {
  border: 1px solid lightgray;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.selected {
  background-color: lightgreen;
  font-weight: bold;
  color: white;
}





li {
  margin-bottom: 15px;
  font-weight: bold;
}

progress {
  width: 70%;
  height: 20px;
  color: #3fb6b2;
  background: #efefef;
}

progress::-webkit-progress-bar {
  background: #efefef;
}

progress::-webkit-progress-value {
  background: #3fb6b2;
}

progress::-moz-progress-bar {
  color: #3fb6b2;
  background: #efefef;
}

iframe,
audio {
  display: block;
  margin: 0 auto;
  border: 3px solid #3fb6b2;
}

form {
  text-align: center;
  margin-top: 0;
}

.submit {
  background-color: #3fb6b2;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}

.submit:hover {
  background-color: #43a09d;
}

textarea {
  height: 100px;
}

input,
textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787575;
  border-radius: 5px;
  width: 70%;
  outline: none;
}

.face {
  transform: scale(0.4);
  margin: 0 auto;
  display: block;
  margin-top: -35px;
  margin-bottom: -25px;
}

.tolink {
  width: 105px;
  height: 50px;
  background-color: #808080;
  border: 1px solid #ff9900;
  box-shadow: 1px 2px 10px black;
  border-radius: 8px;
  margin: 10px 40%;
  display: block;

}

.tolink a {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  display: block;
}

.tolink:hover {
  background-color: white;
  color: #ff9900;
}

#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
}

#contacts a {
  text-decoration: none;
}

#contacts img:hover {
  opacity: 0.8;
}












.titleBar {
  width: 100px;
  margin: 0;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  color: #FFF;
  background-color: #333;
  word-spacing: 1px;
  letter-spacing: -1px;
  z-index: 2;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 250%;
  white-space: nowrap;
}

#menuBtn {
  background-color: transparent;
  color: #FFF;
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
  user-select: none;
  -webkit-highlight: none;
  -moz-highlight: none;
  border: none;
  margin-left: 15px;
  margin-right: 15px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 12px;
}

#menu {
  width: 65px;
  height: 30px;
  position: fixed;
  left: 40px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  background-color: #444;
  transition: left 1.5s ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, .5);
  margin: 0;
  padding: 0;
}

#main {
  height: 100px;
  width: 100px;
  background-color: #EEE;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.menuBtnIcon {
  background-color: #FFF;
  width: 5px;
  height: 1px;
  border-radius: 60%;
  display: block;
}

.mid {
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.menuItem {
  width: 55px;
  padding: 5px;
  text-align: left;
  background-color: transparent;
  border-bottom: 1px solid #555;
  color: #999;
  font-weight: bolder;
  display: block;
  margin: 0;
}

.menuHead {
  margin: 0;
  width: 60px;
  height: 125px;
  padding-left: 5px;
  text-align: left;
  background-color: rgba(0, 0, 0, .5);
  border-bottom: 1px solid #555;
  color: #999;
  font-weight: bolder;
  display: inline-block;
}

.block {
  width: 80px;
  margin: 5px;
  padding: 5px;
  background-color: #FFF;
  color: #111;
  text-align: left;
  box-shadow: 1px 1px 1px #999;
}

.menuItem:active {
  background-color: #555;
}




#item {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

#item:hover,
#item:focus {
  background-color: #3e8e41;
}

.menu {
  position: relative;
  display: inline-block;
}

#submenu {
  display: none;
  position: absolute;
  background-color: #3e8e41;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

#submenu a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#submenu a:hover {
  background-color: #4CAF50
}