/* Creating initial properties  */

html {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  background-color: black;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Handlee', verdana, cursive;
  font-size: 13pt;
}

/* Header and title styles */

header {
  width: 100%;
  height: 100px;
}

h1 {
  color: #20bcd5;
  margin-left: 10px;
  font-size: 15pt;
  font-style: italic;
  text-shadow: 1px 1px 1px green;
  float: left;
  font-family: "Times New Roman", Georgia, Serif;
  text-align: center;
  padding: 18px 0 18px 0;
  margin: 0 0 10px 0;
}

h1 span {
  border: 4px dashed #20bcd5;
  padding: 10px;
}

h3 {

  display: inline;
  float: right;
  margin-right: 10px;
}

h3 a {
  border-bottom: 4px solid green;
  font-size: 10pt;

}

h4 {
  color: green;
  margin-top: 20%;
  font-size: 14pt;
  font-weight: bold;
}

hr {
  border: 0;
  height: 1px;
  background: #f36f48;
}

a {
  text-decoration: none;
  color: white;
  padding: 0px 15px 0px 15px;
}


/* Regular text styles */
p {
  padding: 0;
  margin: 0;
}

section {
  background-color: #fff;
  border: 2px solid grey;
  border-radius: 10px;
  min-height: 250px;
  text-align: center;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

#banner_image {
  padding-top: 75px;
  padding-bottom: 50px;
  text-align: center;
  color: #f8f8f8;
  background: url("https://images.unsplash.com/photo-1608126199278-50a5f584dbdd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80") no-repeat center;
  background-size: cover;
}

#banner_content {
  position: relative;
  padding-top: 6%;
  padding-bottom: 6%;
  margin-top: 12%;
  margin-bottom: 12%;
  background-color: black;
  max-width: 660px;
}

#header {
  background-image: url("https://www.sololearn.com/Uploads/header.jpg");
  background-size: cover;
}

#header img {
  display: block;
  width: 80px;
  height: 80px;
  margin: auto;
}

#header p {
  font-size: 25pt;
  color: #3b464c;
  padding-top: 5px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

footer {
  padding: 10px 0;
  background-color: #101010;
  color: #9d9d9d;
  bottom: 0;
  width: 100%;
}

/*
.items {
   width: 30%;
   display: block;
   padding: 4px;
   margin-bottom: 20px;
   line-height: 1.42857143;
   background-color: #fff;
   border: 1px solid #ddd;
   border-radius: 4px;
   float: left;
   margin-left: 1%;
 }
 */

.thumbnail {
  display: block;
  max-width: 100%;
  height: auto;
}

.caption {
  color: #000;
  padding: 0px 10px 10px;
  font-weight: bold;
  text-align: center;
}

.copyright {
  font-size: 8pt;
  text-align: right;
  padding-bottom: 10px;
  color: grey;
}

#contacts {
  text-align: center;
}

.img-circle {
  border: 3px solid white;
  border-radius: 50%;
}


.quote {
  font-size: 12pt;
  text-align: right;
  margin-top: 10px;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 2px solid #cecece;
  border-collapse: collapse;
  text-align: center;
  table-layout: fixed;
}

.selected {
  background-color: #f36f48;
  font-weight: bold;
  color: white;
}

li {
  margin-bottom: 15px;
  font-weight: bold;
}

progress {
  width: 70%;
  height: 20px;
  color: #3fb6b2;
  background: #efefef;
}

progress::-webkit-progress-bar {
  background: #efefef;
}

progress::-webkit-progress-value {
  background: #3fb6b2;
}

progress::-moz-progress-bar {
  color: #3fb6b2;
  background: #efefef;
}

iframe,
audio {
  display: block;
  margin: 0 auto;
  border: 3px solid #3fb6b2;
}

form {
  text-align: center;
  margin-top: 0;
}

.submit {
  background-color: #3fb6b2;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}

.submit:hover {
  background-color: #43a09d;
}

textarea {
  height: 100px;
}

input,
textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787575;
  border-radius: 5px;
  width: 70%;
  outline: none;
}

.face {
  transform: scale(0.4);
  margin: 0 auto;
  display: block;
  margin-top: -35px;
  margin-bottom: -25px;
}

#contacts img {
  height: 50px;
  width: 50px;
  margin-left: 7px;
  margin-right: 7px;
}

#contacts a {
  text-decoration: none;
}

#contacts img:hover {
  opacity: 0.8;
}

