/* Main page style properties */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  animation: background-change 10s linear infinite alternate;
  background-color: #333;
  color: green;
  font-family: 'Handlee', system-ui, verdana, arial, helvetica, sans-serif, cursive;
  overflow: auto;
  overflow-y: auto;
}

body,
html {  
  font-size: 1rem;
  height: 100%;
  line-height: 3rem;
  overflow-x: hidden;  
}

html {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block
}

/* Background color changing effect  */
@keyframes background-change {
  0% {
    background-color: #000;
  }

  20% {
    background-color: #111;
  }

  40% {
    background-color: #222;
  }

  60% {
    background-color: #333;
  }

  80% {
    background-color: #444;
  }

  100% {
    background-color: #555;
  }
}










/* Styling the top navigation bar */

/* Navigation Bar */
nav {
  align-items: center;
  background-color: black;
  border-bottom: 0.2rem solid black;
  box-shadow: 0.1rem 0.2rem 2rem black;
  color: white;
  display: flex;
  float: right;
  height: 6%;
  justify-content: space-between;
  overflow: hidden;
  padding: 1rem;
  position: fixed;
  z-index: 1;
  width: 100%;
}

/* Style the navigation bar links */
nav a {
  float: left;
  font-size: 2rem;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav .icon {
  display: none;
}

/* Right-aligned link */
nav a.right {
  float: right;
}

/* Change color on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li {
  line-height: 1.6;
  margin-right: 5px;
  padding-right: 10px;
}

nav ul li a {
  padding: 5px 3px;
}

nav a.active {
  background-color: #04AA6D;
  color: white;
}

nav ul li a:hover,
.active {
  background-color: black;
  color: green;
  border-radius: 8px;
}

.active {
  background-color: #04AA6D;
  color: white;
}

/* Create a right-aligned (split) link inside the navigation bar */
.split {
  float: right;
  background-color: #04AA6D;
  color: white;
}

/* Dropdown menu */
.dropdown {
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 5;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 1.2rem;
  border: none;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

nav a:hover,
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}


/* Responsive navigation */
@media screen and (max-width: 600px) {
  nav a:not(:first-child) {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
  }

  nav.responsive {
    position: relative;
  }

  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  nav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
  }

  nav.responsive .dropdown {
    float: none;
  }

  nav.responsive .dropdown-content {
    position: relative;
  }

  nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}









/* Header and Title styles */

/* Styling header banner */
header {
  align-items: center;
  background: no-repeat center/100% url("https://www.sololearn.com/Uploads/header.jpg"), linear-gradient(#000, #fff);
  border-radius: 2rem;
  color: white;
  display: flex;
  font-size: 3rem;
  height: max-content;
  margin: 2% auto 0%;
  min-height: fit-content;
  padding: 5% 1%;
  position: relative;
  text-align: center;
}

header a {
  position: relative;
  padding: 10px;
  color: #006;
}

header h1 {
  background: #e0e0e0;
  color: #292929;
  font-size: 2.5rem;
  height: 6rem;
  line-height: 80px;
  margin: 0;
  padding-left: 10px;
}

header img {
  display: block;
  width: 80px;
  height: 200px;
  margin: auto;
}

header p {
  font-size: 25pt;
  color: #3b464c;
  padding-top: 5px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

header .logo {
  font-size: 20px;
  text-transform: uppercase;
}

#banner {
  background: no-repeat center url("images/banner.jpg");
  justify-content: space-between;
}

#banner_container {
  background-color: black;
  color: white;
  max-height: min-content;
  margin: auto;
  padding: 1rem;
  border-radius: 2.5rem;
  text-align: center; 
  width: 50%;
}

#banner_container button {
  background-color: darkgreen;
  border: none;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  opacity: 0.7;
  outline: 0;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}  

#banner_container button:hover {
  background-color: lightgreen;
  color: white;
  opacity: 0.7;
}

/* Increase the font size of the h's element */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif, "Times New Roman", Georgia, Serif;
  font-weight: normal;
  text-align: center;
}

h1 {
  color: #2ad;
  font-size: 4rem;
  font-style: italic;
  text-shadow: 1px 5px 10px green;
}

h1 span {
  border: 1px dashed #2ad;
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h3 a {
  border: 4px solid green;
  font-size: 3.5rem;
}

h4 {
  color: green;
  font-size: 2.5rem;
  font-weight: bold;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}








/* Main page conatainer */

.page {
  background: transparent;
  margin: auto;
  max-width: 100%;
  min-width: 30%;
  height: auto;
  padding: 0%;
  width: 95%;
}

/* Creating two unequal columns that floats next to each other */
main,
aside {
  background-color: transparent;
  display: flex;
  flex: auto;
  height: max-content;
  min-height: 400rem;
  margin: 1rem auto;
  overflow: hidden;
  z-index: 1;
}


/* Main/left column container */
main {
  flex-wrap: wrap;
  float: left;
  width: 70%;  
}

/* Sidebar/right column container */
aside {
  float: right;
  text-align: left;  
  width: 30%;  
}

/* Adding a  */
section {
  background: repeating-linear-gradient(black,transparent,lightgray,white);
  border: 0.2rem solid white;
  border-radius: 2rem;
  float: left;
  min-height: auto;
  padding: 3%;
  text-align: center;
  width: 99%;
}

/* Add a card effect for articles */
article {
  background-color: transparent;
  float: left;
  margin: 1rem auto 3rem;
  min-height: min-content;
  padding: 5% 1%;
  text-align: left;
  width: 100%;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  height: 100px;
  padding: 20px;
  width: 100%;
}

/* Clear floats after the columns */
main:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  main,
  aside {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    display: grid;
    grid-template-columns: 700px repeat(2, 1fr);
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  nav a {
    float: none;
    width: 100%;
  }
}










/* Imagen styles */

img {
  border: 1px solid white;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.image {
  border-radius: 100%;
  display: flex;
  float: left;
  height: min-content;
  margin: 0% 0% 0% 1%;
  max-width: 100%;
  min-width: 1rem;
  width: 3%;
}

.avatar-frame {
  display: flex;
  border: 5px solid #fff;
  border-left: none;
  border-radius: 75%;
  border-right: none;
  box-shadow: #333 1% 1%;
  height: 50px;
  float: left;
  margin: 0% 0%;
  vertical-align: middle;
  width: 50px;
}

/* Glowing Effect */
.glow {
  animation: glow 5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px green, 0 0 4px green, 0 0 5px green, 0 0 6px green, 0 0 7px green;
  }

  to {
    box-shadow: 0 0 2px #fff, 0 0 3px palegreen, 0 0 4px palegreen, 0 0 5px palegreen, 0 0 6px palegreen, 0 0 7px palegreen, 0 0 8px green;
  }
}










/* Slideshow */

.mySlides1,
.mySlides2 {
  display: none
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

a {
  background-color: transparent;
  color: white;
  padding: 0px 15px;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0
}










/* Regular text styles */

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder
}

code {
  background-color: #fff;
  border-left: 4px solid #4CAF50;
  font-family: monospace, monospace;
  font-size: 1rem;
  padding: 8px 12px;
  width: auto;
  word-wrap: break-word;
}

i {
  margin: 0 0.5rem; 
}

mark {
  background: #070;
  color: #fff;
}

p {
  color: white;
  display: block;
  font-family: system-ui;
  font-size: 1.2rem;  
  font-weight: bold;
  line-height: 2.5rem;
  margin: 1rem;
  padding: 0 10px;
  text-align: left;
  text-decoration: 0.2rem solid black;
  text-shadow: 0.2rem 0.2rem 1rem black;
}

small {
  font-size: 1.2rem;
}

sub,
sup {
  font-size: 1.1rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25em
}

sup {
  top: -0.5em
}










/* Skill bar  */

.skill-bar {
  background-color: lightslategray;
  border: 0.2rem solid #000;
  color: black;
  text-align: right;
  width: 100%;
}

.skill-bar,
.porcent-10,
.porcent-20,
.porcent-30,
.porcent-40,
.porcent-50,
.porcent-60,
.porcent-70,
.porcent-80,
.porcent-90,
.porcent-100 {
  border-radius: 2rem;
  padding: 0 1rem 0 0;
}

.porcent-10 {
  width: 10%;
  background-color: #FF0000;
}

.porcent-20 {
  width: 20%;
  background-color: #FF6300;
}

.porcent-30 {
  width: 30%;
  background-color: #FF8900;
}

.porcent-40 {
  width: 40%;
  background-color: #FFA500;
}

.porcent-50 {
  width: 50%;
  background-color: #FFBC00;
}

.porcent-60 {
  width: 60%;
  background-color: #FFCF00;
}

.porcent-70 {
  width: 70%;
  background-color: #FFE100;
}

.porcent-80 {
  width: 80%;
  background-color: #FFD000;
}

.porcent-90 {
  width: 90%;
  background-color: #FFFF00;
}

.porcent-100 {
  width: 100%;
  background-color: #00FF00;
}










/* Footer section */

footer {
  background-color: #111;
  border-radius: 2rem 0 0 2rem;
  clear: both;
  color: #aaa;
  padding: 1%;
  text-align: center;
  width: 100%;
}

footer p {
  padding: 20px 10px;
}

.copyleft {
  font-size: 10pt;
  text-align: right;
  padding-bottom: 10px;
  color: grey;
}

.tolink {
  background-color: black;
  border: 2px solid green;
  border-radius: 10px;
  box-shadow: 1px 2px 10px black;
  display: block;
  height: 50px;
  margin: 10px 10%;
  width: 105px;
}

.tolink a {
  display: block;
  font-weight: bold;
  font-size: 16px;
  padding-top: 15px;
  text-align: center;
}

.tolink:hover {
  background-color: gray;
  color: red;
}

.quote {
  font-size: 12pt;
  text-align: right;
  margin-top: 2pt;
}











/* Table properties */

table {
  width: 100%;
  font-size: 11pt;
  float: center;
}

hr {
  background: #f36f48;
  border-top: 1px solid #eee;
  box-sizing: content-box;
  height: 1px;
  margin: 20px 0;
  overflow: visible;
}

table,
th,
td,
tr {
  border: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  padding: 8px 8px;
  display: table-cell;
  text-align: left;
  vertical-align: top
}

.selected {
  background-color: lightgreen;
  font-weight: bold;
  color: white;
}

li {
  font-weight: bold;
}










/* Forms */

progress {
  width: 70%;
  height: 20px;
  color: #3fb6b2;
  background: #efefef;
}

progress::-webkit-progress-bar {
  background: #efefef;
}

progress::-webkit-progress-value {
  background: #3fb6b2;
}

progress::-moz-progress-bar {
  color: #3fb6b2;
  background: #efefef;
}

iframe,
audio {
  display: block;
  margin: 0 auto;
  border: 3px solid #3fb6b2;
}

form {
  text-align: center;
  margin-top: 0;
}

.submit {
  background-color: #3fb6b2;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}

.submit:hover {
  background-color: #43a09d;
}

button {
  background-color: inherit;
  border: none;
  border-radius: 2rem;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  overflow: hidden;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
  margin: 0;
}

input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

input,
textarea {
  margin-bottom: 10px;
  font-size: 11pt;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background-color: #efefef;
  color: #787575;
  border-radius: 5px;
  width: 70%;
  outline: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  height: 100px;
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}










/* Animation effects  */

.spin {
  animation: spin 2s infinite linear
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}

.animate-fading {
  animation: fading 10s infinite
}

@keyframes fading {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.animate-opacity {
  animation: opac 0.8s
}

@keyframes opac {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.animate-top {
  position: relative;
  animation: animatetop 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s
}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.animate-right {
  position: relative;
  animation: animateright 0.4s
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

.animate-zoom {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}










/* Testing effect */

.rotating-test {
  animation: rotating-test 5s linear infinite alternate;
  display: flex;
  border: 5px solid #fff;
  border-left: none;
  border-radius: 75px;
  border-right: none;
  height: 50px;
  float: left;
  margin: 0% 0%;
  vertical-align: middle;
  width: 50px;
}

@keyframes rotating-test {
  0% {
    transform: rotate(0deg);
    background-color: #888;
  }

  50% {
    transform: rotate(180deg);
    background-color: #000;
  }

  100% {
    transform: rotate(360deg);
    background-color: #fff;
  }
}