/* Main page style properties */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  animation: background-change 10s linear infinite alternate;
  background: #333;
  color: darkviolet;
  font-family: helvetica, verdana, 'handlee', system-ui, sans-serif, arial, cursive;
  overflow: auto;
  overflow-y: auto;
}

body,
html {
  font-size: 1rem;
  height: 100%;
  line-height: 3rem;
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
}

article,
aside,
footer,
header,
main,
nav,
section {
  display: block
}










/* Background color changing effect  */
@keyframes background-change {
  0% {
    background-color: #000;
  }

  20% {
    background-color: #111;
  }

  40% {
    background-color: #222;
  }

  60% {
    background-color: #333;
  }

  80% {
    background-color: #444;
  }

  100% {
    background-color: #555;
  }
}





/* Header and Title styles */

#banner {
  background: no-repeat center/150% url("../images/banner.jpg");
  border-radius: 0;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

#banner_container {
  background-color: black;
  border-radius: 2rem;
  bottom: 1rem;
  color: white;
  margin: auto;
  max-width: 40rem;
  max-height: 40rem;
  padding: 3rem;
  position: relative;
  text-align: center;
}

/* Styling header banner */
header {
  align-items: center;
  border-radius: 1rem;
  color: white;
  display: block;
  font-size: 3rem;
  margin: auto;
  min-height: fit-content;
  position: relative;
  text-align: center;
}

/* Jumps directly to linked element in page. Tweak necessary to show hidden elements by navigation and breadcrumbs bars */
header::before {
  display: block;
  content: " ";
  margin-top: -10rem;
  height: 10rem;
  visibility: hidden;
  pointer-events: none;
}

header a {
  position: relative;
  padding: 0.2rem;
  color: cyan;
}

header img {
  display: block;
  width: 6rem;
  height: 200px;
  margin: auto;
}

header p {
  font-size: 1.5rem;
  margin: 2rem 0rem auto;  
  text-align: center;
}

header .logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

#banner_container button {
  background-color: darkmagenta;
  border: none;
  border-radius: 2rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  outline: 0;
  overflow: hidden;
  padding: 1rem 1rem 0.5rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
}

#banner_container button:hover {
  background-color: blueviolet;
  color: white;
}










/* Increase the font size of the h's element */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Segoe UI", Arial, sans-serif, "Times New Roman", Georgia, Serif;
  font-weight: normal;
  padding: 0.5rem;
  text-align: center;
}

h1,
h3,
h5 {
  border-radius: 2rem;
  box-shadow: 0rem 0rem 2rem purple;
  color: white;
  display: inline-block;
  font-style: italic;
  line-height: 3rem;
  margin: -1rem -1rem;
  padding: 0 2rem;
  text-shadow: 0.1rem 0.1rem 1rem plum;
  width: 102%;
}

h2,
h4,
h6 {
  color: darkmagenta;
  padding: 0 2.5rem;
}

h1 {
  background: white;
  border: .2rem solid blueviolet;
  color: purple;
  font-size: 2.5rem;
  padding: 1rem;
}

h2 {
  background: no-repeat center/200% url("../images/header.png"), linear-gradient(#fff, #000);
  color: white;
  font-size: 2.25rem;
  padding: 1.5rem;
}

h3 {
  color: white;
  background: none;
  border: none;
  box-shadow: none;
  font-size: 2rem;
  position: static;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}










/* 
Styling the top navigation bar.
Sticky navbar - toggles between relative and fixed, depending on the scroll position.
It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed).
The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position
*/

/* Navigation Bar */
nav {
  align-items: center;
  background: black;
  bottom: 0;
  box-shadow: 0.1rem 0.2rem 2rem black;
  color: white;
  height: 3rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 3;
}

/* Hidden icon from navigation bar */
nav .icon {
  display: none;
}

/* Style the navigation bar links */
nav a {
  display: block;
  float: left;
  font-size: 1.5rem;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Right-aligned link */
nav a.right {
  float: right;
}

/* Change color on hover */
nav a:hover {
  background: #ddd;
  color: black;
}

nav ul {
  display: inline-flexbox;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li {
  margin: 0 3rem;
}

nav ul li a {
  padding: 0 0.5rem;
  margin: 0 0.2rem;
}

nav a.active {
  background: purple;
  color: white;
}

nav ul li a:hover,
.active {
  background: darkviolet;
  border-radius: 1rem 1rem 0;
  color: white;
}

.active {
  background: blueviolet;
  color: white;
}

/* Create a right-aligned (split) link inside the navigation bar */
.split {
  background: purple;
  color: white;
  float: right;
}

/* Dropdown menu */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropbtn {
  background-color: darkviolet;
  color: white;
  padding: 1.5rem;
  font-size: 1.2rem;
  border: none;
}

.dropdown .dropbtn {
  border: none;
  background: inherit;
  color: white;
  font-family: inherit;
  font-size: 1.5rem;
  margin: 0;
  outline: none;
  padding: 0 1rem;
}

.dropdown-content {
  background: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 10rem;
  position: absolute;
  z-index: 3;
}

.dropdown-content a {
  color: black;
  display: block;
  float: none;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
}

nav a:hover,
.dropdown:hover .dropbtn {
  background: plum;
  color: white;
}

.dropdown-content a:hover {
  background: plum;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background: darkviolet;
}





/* Responsive navigation */
@media screen and (max-width: 1080px) {
  nav {
    overflow: hidden;
  }
  
  nav a.icon {
    float: right;
    display: block;
  }

  nav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }

}



@media screen and (max-width: 800px) {

  header#banner,
  .logo,
  ul.breadcrumb {
    display: none !important;
  }

  nav.responsive {
    position: relative;
  }

  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  nav.responsive .dropdown {
    float: none;
  }

  nav.responsive .dropdown-content {
    position: relative;
  }

  nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}



/* Breadcrumbs */
ul.breadcrumb {
  background-color: black;
  display: inline-block;
  list-style: none;
  padding: 0 1rem;
  position: sticky;
  top: 3rem;
  z-index: 2;
  width: 100%;
}

/* Display list items side by side */
ul.breadcrumb li {
  padding: 0 .1rem;
  display: inline;
  font-size: 1.5rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  color: whitesmoke;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: indigo;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: blue;
  text-decoration: underline;
}










/* Keeping anchor sticky at the bottom */
#top {
  background: radial-gradient(darkviolet 10%, transparent 50%);
  bottom: 0rem;
  color: white;
  height: 3rem;
  text-align: center;
  text-shadow: 2px 2px 0 black;
  position: fixed;
  right: 0rem;
  width: 10rem;
  z-index: 1;
}



/* Main page container */

main {
  margin: auto;
  max-width: 100%;
  min-width: 30%;
  position: relative;
  top: 5rem;
  width: 85%;
}

/* Creating two unequal columns that floats next to each other */
main,
aside {
  background: transparent;
  display: flex;
  flex: auto;
  height: max-content;
  min-height: 400rem;
  overflow: hidden;
}

/* Sidebar/right column container */
aside {
  float: right;
  margin: 0 0 0 1rem;
  text-align: left;
  width: 35%;
}

/* Adding a  */
section {
  background: repeating-linear-gradient(black, transparent, lightgray, white);
  border: 0.1rem solid darkviolet;
  border-radius: 2rem;
  float: left;
  max-width: 100%;
  min-height: auto;
  padding: 3rem 1.25rem;
  text-align: center;
  width: 100%;
}

/* Add a card effect for articles */
article {
  background: black;
  border: 0.2rem solid darkviolet;
  border-radius: 2rem 0 2rem;
  box-shadow: 0 0 1rem 0.7rem rgba(148, 0, 211, 0.2), inset 0 0 1rem 0.7rem rgba(148, 0, 211, 0.2);
  display: block;
  margin: 1rem auto 7rem;
  min-height: min-content;
  padding: 3rem 2rem;
  text-align: left;
  width: 100%;
}


/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  height: 5rem;
  padding: 1rem;
  width: 100%;
}

/* Clear floats after the columns */
main:after {
  content: "";
  display: table;
  clear: both;
}





/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1080px) {

  main,
  aside {
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  main {
    flex-direction: column;
    display: grid;
    grid-template-columns: 700px repeat(2, 1fr);
  }
}

/* Responsive layout - when the screen is less than 600px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  nav a {
    float: none;
    width: 100%;
  }
}










/* Image styles */

img {
  border: 1px solid white;
  height: auto;
  max-width: 100%;
}

a img {
  border: none;
}

.image {
  border-radius: 100%;
  display: flex;
  float: left;
  height: min-content;
  margin: 0.3rem 2rem;
  max-width: 100%;
  min-width: 2rem;
  width: 2.5rem;
}

.avatar-frame {
  display: flex;
  border: 5px solid white;
  border-left: none;
  border-radius: 75%;
  border-right: none;
  box-shadow: #333 1% 1%;
  height: 50px;
  float: left;
  margin: 0% 0%;
  vertical-align: middle;
  width: 50px;
}

/* Glowing Effect */
.glow {
  animation: glow 5s ease-in-out infinite alternate;
}





@keyframes glow {
  from {
    box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px purple, 0 0 4px purple, 0 0 5px purple, 0 0 6px purple, 0 0 7px purple;
  }

  to {
    box-shadow: 0 0 2px #fff, 0 0 3px plum, 0 0 4px plum, 0 0 5px plum, 0 0 6px plum, 0 0 7px plum, 0 0 8px plum;
  }
}










/* Slideshow */

.mySlides1,
.mySlides2 {
  display: none
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover,
.next:hover {
  background-color: #f1f1f1;
  color: black;
}

a {
  background-color: transparent;
  color: cyan;
  padding: 0rem 1rem;
  text-decoration: none;
}

a:active,
a:hover {
  outline-width: 0
}










/* Regular text styles */

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder
}

code {
  background-color: #fff;
  border-left: 4px solid #4CAF50;
  font-family: monospace, monospace;
  font-size: 1rem;
  padding: 8px 12px;
  width: auto;
  word-wrap: break-word;
}

i {
  margin: 0 0.5rem;
}

mark {
  background: #070;
  color: #fff;
}

p {
  color: white;
  display: block;
  font-family: system-ui;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.7rem;
  margin: 2rem 1rem;
  text-align: justify;
  text-decoration: 0.2rem solid black;
  text-shadow: 0.2rem 0.2rem 1rem black;
}

small {
  display: block;
  font-size: 1.2rem;
}

sub,
sup {
  font-size: 1rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -0.25rem
}

sup {
  top: -0.5rem
}










/* Table properties */

table {
  width: 100%;
  font-size: 11pt;
  float: center;
}

hr {
  background: #f36f48;
  border-top: 1px solid #eee;
  box-sizing: content-box;
  height: 1px;
  margin: 20px 0;
  overflow: visible;
}

table,
th,
td,
tr {
  border: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  text-align: center;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  padding: 8px 8px;
  display: table-cell;
  text-align: center;
  vertical-align: top
}

.selected {
  background-color: orchid;
  font-weight: bold;
  color: white;
}

li {
  font-weight: bold;
}










/* Forms */


form {
  text-align: center;
  margin-top: 0;
}

fieldset {
  border: 1px solid lightgray;
  padding: 3rem 2rem;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea,
optgroup {
  font: inherit;
}

input {
  padding: 0.2rem;
  border-bottom: 1px solid #ccc;
  display: inline;
  float: right;
  height: 2.2rem;
  width: 100%;
}

input,
textarea {
  font-size: 0.8rem;
  padding: 0 2rem;
  border: 1px solid lightgrey;
  background-color: white;
  color: grey;
  border-radius: 1rem;
  width: 25%;
  outline: none;
}

textarea {
  height: 10rem;
  overflow: auto;
  width: 80%;
}

/* Progress bar  */

progress {
  width: 70%;
  height: 20px;
  color: #3fb6b2;
  background: #efefef;
}

progress::-webkit-progress-bar {
  background: #efefef;
}

progress::-webkit-progress-value {
  background: #3fb6b2;
}

progress::-moz-progress-bar {
  color: #3fb6b2;
  background: #efefef;
}

/* Skill meter bar  */

meter {
  background-color: lightslategray;
  border: 0.2rem solid #000;
  border-radius: 2rem;
  color: black;
  padding: 0 1rem 0 0;
  text-align: right;
  width: 100%;
}

iframe,
audio {
  display: block;
  margin: 0 auto;
  border: 3px solid #3fb6b2;
}

.submit {
  background-color: #3fb6b2;
  padding: 12px 45px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  outline: none;
  margin: 0;
  font-weight: bold;
}

.submit:hover {
  background-color: #43a09d;
}

button {
  background: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  margin: auto;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: fit-content;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  padding: 9px 0;
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
}










/* Footer section */

footer {
  background: black;
  bottom: -15rem;
  clear: both;
  color: #aaa;
  padding: 7rem 0 0;
  position: relative;
  text-align: center;
}

footer p {
  padding: 1.2rem 0.8rem;
}

.copyleft {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  color: grey;
}

.tolink {
  background: white;
  border-radius: 2rem;
  display: inline-flex;
  height: 3rem;
  width: 5rem;
}

.tolink:hover {
  background-color: darkviolet;
  color: red;
}

.quote {
  font-size: 1rem;
  text-align: right;
  margin: 0.2rem 0 0 0;
}










/* Animation effects  */

.spin {
  animation: spin 2s infinite linear
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}

.animate-fading {
  animation: fading 10s infinite
}

@keyframes fading {
  0% {
    opacity: 0
  }

  50% {
    opacity: 1
  }

  100% {
    opacity: 0
  }
}

.animate-opacity {
  animation: opacity 0.8s
}

@keyframes opacity {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.animate-top {
  position: relative;
  animation: animate-top 0.4s
}

@keyframes animate-top {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.animate-left {
  position: relative;
  animation: animate-left 0.4s
}

@keyframes animate-left {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.animate-right {
  position: relative;
  animation: animate-right 0.4s
}

@keyframes animate-right {
  from {
    right: -300px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

.animate-bottom {
  position: relative;
  animation: animate-bottom 0.4s
}

@keyframes animate-bottom {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

.animate-zoom {
  animation: animate-zoom 0.6s
}

@keyframes animate-zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}










/* Testing effect */

.rotating-test {
  animation: rotating-test 5s linear infinite alternate;
  display: flex;
  border: 5px solid #fff;
  border-left: none;
  border-radius: 75px;
  border-right: none;
  height: 50px;
  float: left;
  margin: 0% 0%;
  vertical-align: middle;
  width: 50px;
}

@keyframes rotating-test {
  0% {
    transform: rotate(0deg);
    background-color: #888;
  }

  50% {
    transform: rotate(180deg);
    background-color: #000;
  }

  100% {
    transform: rotate(360deg);
    background-color: #fff;
  }
}